@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 200 20% 98%;
    --btn-background: 200 10% 91%;
    --btn-background-hover: 200 10% 89%;
    --foreground: 200 50% 3%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 200 50% 3%;
      --btn-background: 200 10% 9%;
      --btn-background-hover: 200 10% 12%;
      --foreground: 200 20% 96%;
    }
  }
}

@layer base {
  * {
    @apply border-foreground/20;
  }
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.blogPost {
  margin: 5%;
  margin-left: 5%;
  margin-right: 5%;
  
}

.card {
  background-color: #2b2b2b;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  transition: 0.3s;
  
}

.projectButton {
  margin-right: 5px;
}

.card:hover {
  
  background-color:#40045c
}

p {
	line-height: 150%;
	margin: 0 0 10px;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
	color: #cf93eb;
	font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h1 {
	font-size: 22px;
	margin: 0 0 15px;
	font-weight: bold;
}

h2 {
	font-size: 18px;
	margin: 0 0 12px;
	font-weight: normal;
}

h3 {
	font-size: 15px;
	margin: 0 0 12px;
	font-weight: normal;
}


h4, h5, h6 {
	margin: 5px 0 5px;
	font-weight: bold;
}
